@import url(general/general.css);
@import url(sections/sections.css);
@import url(components/components.css);




@keyframes fade-slide-in {
    0% {
      opacity: 0;
      transform: translate(-50%, -20%);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, 0%);
    }
  }
  
  .animate-fade-slide-in {
    animation: fade-slide-in 2.4s ease-out;
  }
  

/* Scroll for the slider */
.scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
}
  